**/.classpath
**/.project
**/.settings/
**/.classpath
**/target/
**/node/
*.pyc
dependency-reduced-pom.xml
**/nbproject/
**/access.log
**/pom.xml.releaseBackup
release.properties
**/*.p12
**/*.DS_Store

