**/.classpath
**/.project
**/.settings/
**/target/
**/node/
*.pyc
dependency-reduced-pom.xml
**/nbproject/
**/access.log*
**/pom.xml.releaseBackup
release.properties
**/*.p12
!**/test/resources/*.p12
!localhost.p12
**/*.DS_Store
**/.idea/
*.iml
