@import "./variables.scss";

/* Bootstrap colors overriding */
$theme-colors: (
primary: $primary,
secondary: $primary-dark
);

@import "./../node_modules/bootstrap/scss/bootstrap";

/* Custom Scrollbar*/
::-webkit-scrollbar {
    height: 0.5rem;
    width: 0.25rem;
    background-color: $white;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px $shadow;
    background-color: $white;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px $shadow;
    background-color: $primary;
}

/* Other Styles */
.box-warning {
    display: inline-block;
    background-color: $warning;
    padding: 0.75rem;
    margin: 0.3em auto;
    border-radius: 3px;
    border-left: 5px solid $warning-dark;
    font-size: 0.95rem;
}

* {
    font-family: "Exo 2", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.badge-status {
    font-size: 13px;
    color: $white;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 10px;

    &.success {
        background-color: $success;
    }

    &.error {
        background-color: $error;
    }

    &.info {
        background-color: $info;
    }
}