@import "./variables.scss";

/* Bootstrap colors overriding */
$theme-colors: (
    primary: $primary,
    secondary: $secondary
);

@import "./../node_modules/bootstrap/scss/bootstrap";

/* Custom Scrollbar*/
::-webkit-scrollbar {
    height: 0.5rem;
    width: 0.25rem;
    background-color: $white;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px $shadow;
    background-color: $white;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px $shadow;
    background-color: $primary;
}

/* Other Styles */
.box-warning {
    background-color: $warning;
    padding: 0.3em;
}
