// App colors
$primary: #42b883;
$primary-bright: #f4f5f7;
$primary-dark: #35495e;
$primary-dark-accent1: #4c6c8b;
$primary-dark-accent2: #415b75;

// Other colors
$white: #f4f5f7;
$success:#42b883;
$error: #dc3545;
$warning: #ffd4019c;
$warning-dark: #e68b179c;
$shadow: rgba(65, 91, 117, 0.6);

// Components colors
$navbar-background: $primary;
$navbar-logo: $primary-dark;
$navbar-elements: $primary-bright;
$sidebar-background: $primary-dark;
$sidebar-elements: $primary-bright;

// Sizing
$navbar-height: 65px;
$sidebar-width: 240px;
$sidebar-collapsed-width: 65px;
