/* Context colors */
$primary: #42b883;
$secondary: #35495e;
$secondary-accent1: #4c6c8b;
$secondary-accent2: #415b75;
$warning: #FFD212B3;
$shadow: rgba(65, 91, 117, 0.6);

/* Other colors */
$white: #f2f2f2;