name: PR Validation report
on:
  workflow_run:
    workflows:
      - 'PR Validation'
    types:
      - completed
permissions:
  contents: read
  actions: read
  checks: write
jobs:
  report:
    runs-on: ubuntu-latest
    steps:
      - uses: dorny/test-reporter@v2
        with:
          artifact: test-results # as named in pr-validation workflow
          name: Maven Tests
          path: carapace-*/target/surefire-reports/*.xml # (inside artifact .zip)
          reporter: java-junit
